body {
    background-color: black;
}

.main-div {
    max-width: 1200px;
    margin-left: 360px;
    margin-top: 150px;
}

.form-container {
    background-color: rgb(71, 71, 71);
    padding-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.form-container input {
    display: block;
    width: 300px;
    margin-bottom: 10px;
    height: 30px;
}

.form-container input {
    padding: 8px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.typewriter {
    font-size: 24px;
    font-weight: bold;
    font-family: monospace;
    overflow: hidden;
    white-space: nowrap;
    margin: 0px;
    letter-spacing: .15em;
    animation: typing 4s steps(30, end);
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
}


.btn-grad {
    background-image: linear-gradient(to right, #E6DADA 0%, #274046 51%, #E6DADA 100%)
}

.btn-grad {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px  black;
    border-radius: 10px;
    display: block;
    border: none;
    cursor: pointer;
}

.btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}


@media screen and (max-width: 600px) {
    body{
      margin: 0px;
      padding: 0px;
    }
    
    .main-div {
        max-width: 0px;
        margin-left: 0px;
        margin-top: 0px;
    }

    .form-container {
        background-color: gray;
        padding-bottom: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 375px;
        margin-left: 0px;
        height: 650px;
        text-align: center;

    }


    @keyframes typing {
        from {
            width: 0;
        }

        to {
            width: 100%;
        }
    }

    .typewriter {
        font-size: 24px;
        font-weight: bold;
        font-family: monospace;
        overflow: hidden;
        white-space: nowrap;
        margin: 0 auto;
        letter-spacing: .15em;
        animation: typing 4s steps(30, end);
        padding-top: 10px;
        padding-bottom: 20px;
        padding-left: 0px;
    }

    .main-para{
       height: 200px;
       width: 320px;
       white-space: normal;
       

    }
    .btn-grad {
        background-image: linear-gradient(to right, #E6DADA 0%, #274046 51%, #E6DADA 100%)
    }
    
    .btn-grad {
        margin: 10px;
        padding: 15px 45px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        box-shadow: 0 0 20px  black;
        border-radius: 10px;
        display: block;
        border: none;
        cursor: pointer;
    }
    
    .btn-grad:hover {
        background-position: right center;
        /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
    }
    
    .h1{
        line-height: 30px;
    }

    .last-word{
        margin-right: px;
    }
    
}